header{
    width: 100%;
    background-color: #ef4a27;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    top: 1%;
    position: sticky;
    justify-content: flex-end;
}

header button{
    border-radius: 20px;
    font-size: 20;
    background-color: transparent; /* %80 saydam beyaz */

   
    margin: 4px 10px;
    border: none;
    padding: 15px 20px;
}

header button:hover {
    background-color: rgba(255, 255, 255, 0.6); /* %80 saydam beyaz */
}

.activebutton{
    background: rgba(255, 255, 255, 0.5);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}



.avatarlogo{
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    background-color: white;
}
.logo {
  height: 40px;
  
    
    margin-left: 10px; /* Sola hafif boşluk bırakmak için */
}

header {
    width: 100%;
    background-color: #ef4a27;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 15px;
    display: flex;
    align-items: center; /* Dikey hizalama */
    justify-content: center; /* Nesneleri yatayda ortalar */
    padding: 5px;
    position: sticky;
}



header .nav-items {
    display: flex;
    gap: 10px;
}


@media (max-width: 768px) { /* Küçük ekranlar için */
    header button{
        display: none;
    }
}