.sidebar {
    background: #40444b;
    color: #111c18;
    padding: 10px;
    border-radius: 15px;
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar > * {
    width: 100%; /* Öğeler genişliğini tamamen kaplayacak */
    margin: 5px 0;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 400;
   
}

.sidebar button {
    background-color: rgba(255, 255, 255, 0.20);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #111c18;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.sidebar button:hover {
    background-color: #ef4a27;
}

/* Main Content */
main {
    background: wheat;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    flex: 3;
    min-height: 700px;
    --color: #b9bcc5;
   
  color: #474a53;
}