{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <title>{% block title %}EduQuest{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{% static 'assets/logo.png' %}" alt="Logo" class="logo">
        <button>fgnngf</button>
        <div class="spacer"></div> <!-- Boşluk bırakmak için spacer div -->
        <button class="activebutton">fgnngf</button>
        <button>fgnngf</button>
        <img src="{% static 'assets/avatar.jpg' %}" alt="Logo" class="avatarlogo">
        <nav>
            <ul>
               
            </ul>
        </nav>
    </header>
    <div class="container">
       

       
                {% block content %}{% endblock %}
          
        </div>
       
    </div>
    <footer>
        <p>&copy; 2023 EduQuest. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>
