{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <title>{% block title %}EduQuest{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>EduQuest</h1>
            <nav>
                <!-- Menü linkleri buraya eklenebilir -->
            </nav>
        </header>

        <aside class="sidebar">
            <!-- Yan menü içeriği buraya gelecek -->
            <p>Sidebar İçeriği</p>
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2023 EduQuest. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
