{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'editor.css' %}">
<div class="content-container">
    <aside class="sidebar">
        <h2>Yan Menü</h2>
        <button>ıhlıık</button>
        <button>ıhlıık</button>
        <p>Sidebar İçeriği</p>
        <!-- Daha fazla yan içerik eklenebilir -->
    </aside>

    <main>
        <h2>Editor İçeriği</h2>
        <!-- Ana içerik buraya gelecek -->
    </main>
</div>
{% endblock %}
