{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/sidebarpage.css' %}">
    <title>{% block title %}EduQuest{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    

</head>
<body>
    <header>
        <a href="{% url 'launch' %}" ><img src="{% static 'app/img/logo.png' %}" alt="Logo" class="logo"></a>
        
        <div class="spacer"></div> <!-- Boşluk bırakmak için spacer div -->
        <button class="activebutton">fgnngf</button>
        <button>fgnngf</button>
        <input type="search" placeholder="Search...">
        
        {% if user.is_authenticated %}
        <!-- Kullanıcı giriş yaptıysa avatar ve bildirim simgesi -->
        <button class="iconbutton1"><i class="material-icons-outlined">notifications</i></button>
        <a href="{% url 'profile' %}" ><img src="{% static 'app/img/avatar.jpg' %}" alt="Logo" class="avatarlogo"></a>
    {% else %}
        <!-- Kullanıcı giriş yapmadıysa 'Register' ve 'Login' butonları -->
        <a href="{% url 'register' %}" ><button class="activebutton">Register</button></a>
        <a href="{% url 'login' %}" ><button class="activebutton">login</button></a>
    {% endif %}
        <nav>
            <ul>
               
            </ul>
        </nav>
    </header>
    <div class="container">
       

       
                {% block content %}{% endblock %}
          
        </div>
       
    </div>
    <footer>
        <p>&copy; 2023 EduQuest. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>
