<!-- templates/editorcontrol.html -->
{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/editor.css' %}">
<div class="content-container">
    <aside class="sidebar">
        <h2>Yan Menü</h2>
        <button class="button1">ıhlıık</button>
        <button class="button1">ıhlıık</button>
        <p>Sidebar İçeriği</p>
    </aside>

    <main>
        <h2>Editor İçeriği</h2>
        <!-- Profil sayfasının içeriğini buraya ekleyeceğiz -->
        {% block profile_content %} {% endblock %}
    </main>
</div>
{% endblock %}
